<a href="https://colab.research.google.com/github/braddugg/DS-SEP-4/blob/main/PYTHON_BASICS_SEP_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World")

Hello World

## TYPES OF BRACKETS IN PYTHON

() - FOR FUNCTIONS                                        
{} - FOR DICTIONARIES                              
[] - FOR LISTS, ARRAYS, SLICING OF DATA

In [4]:
x = 2

In [3]:
#ENTER - GO TO NEXT LINE WITHIN SAME COMMAND/CODE BLOCK BUT DOES NOT EXECUTE
#ALT + ENTER = EXECUTE THE LINE AND CREATE A NEW LINE
#CTRL+ENTER = EXECUTE THE LINE AND DO NOT CREATE A NEW LINE
#SHIFT+ENTER = EXECUTE THE LINE AND GO TO NEXT LINE BUT DO NOT CREATE A NEW LINE

In [7]:
print(x)

2

In [7]:
# DATA TYPES IN PYTHON

In [8]:
x = 20 - #integer

In [9]:
type(x)

int

In [10]:
x = 'abc' - #string

In [11]:
type(x)

str

In [12]:
x = 10.2 - #float or decimal

In [13]:
type(x)

float

In [14]:
x = True - #Boolean

In [15]:
type(x)

bool

In [16]:
import math

In [17]:
math.sqrt(256)

16.0

In [33]:
round(12345.6789)

12346

In [20]:
3 > 10

False

In [21]:
7 < 25

True

In [22]:
10 == 20

False

In [23]:
10 == 10

True

In [24]:
not(6 == 6)

False

In [25]:
(10 > 20) & (20 > 10)

False

In [26]:
(10 > 20) | (20 > 10)

True

In [27]:
a = 5 > 20
print(a)

False

In [28]:
b = 10 > 5
print(b)

True

In [29]:
a & b

False

In [30]:
b | a

True

In [31]:
not(a & b)

True

In [34]:
c = 'abc'
d = 'xyz'

In [35]:
c == d

False

In [36]:
e = 'Hello World'

In [37]:
f = 'Hello Me'

In [38]:
e & f

TypeError: ignored

In [39]:
e | f

TypeError: ignored

3 LOOPS

WHILE                                             
FOR                                                 
IF - CONDITION STATEMENT

In [40]:
i = 0
while i <=5:
  print(i)
  i = i+1

0
1
2
3
4
5

In [43]:
i = 0
while i <=5:
  print(i)
  i = i+1
print("Loop Ends")

0
1
2
3
4
5
Loop Ends

In [45]:
i = 10
while i <=5:
  print(i)
  i = i+1
print("Loop Ends")

Loop Ends

In [50]:
i = 0
while i <=5:
  print(i)
  i = i+1
print("Loop Ends")

0
1
2
3
4
5
Loop Ends

In [51]:
range(6)

range(0, 6)

In [52]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [55]:
i = 7
for i in range(6):
  print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [56]:
import numpy as np
from numpy.random import randn

In [62]:
x = randn()
if x>1:
  result = "greater than 1"
print(x)
print(result)

-0.9617211209981639
greater than 1

In [76]:
result = None
x = randn()
if x>1:
  result = "greater than 1"
print(x)
print(result)

-0.6279325025916589
None

In [78]:
result = None
x = randn()
if x>1:
  result = "greater than 1"
else:
  result = "less than 1"
print(x)
print(result)

1.0435108435710188
greater than 1

In [85]:
#CHAINED - IF STATEMENT
result = None
x = randn()
if x>1:
  result = "greater than 1"
elif x <-1:
  result = "less than -1"
else:
  result = "Between -1 and 1"
print(x)
print(result)

-1.0626118178234782
less than -1

In [87]:
result = None
x = 0
if x>1:
  result = "greater than 1"
elif x <-1:
  result = "less than -1"
else:
  result = "Between -1 and 1"
print(x)
print(result)

0
Between -1 and 1

In [89]:
result = None
x = int(input())
if x>1:
  result = "greater than 1"
elif x <-1:
  result = "less than -1"
else:
  result = "Between -1 and 1"
print(x)
print(result)

0
0
Between -1 and 1